* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 10px 200px;
    background-color: white;
    border-bottom: solid 1px;
    border-color: grey;
    width: 100%;
    color: #ee2737;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display:  flex;
    align-items: center;
}

.nav-menu-icon {
    display: none;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li a{
    text-decoration: none;
    padding: 20px 0px 20px 30px;
    display: flex;
    gap: 4px;
    color: #ee2737;
    font-size: 16px;
}

@media  (max-width: 1000px) {
        header {
            max-width: 1000px;
            padding: 20px 20px;
        }

        .nav-links a {
            display: none;
        }

        .nav-menu-icon {
            display: flex;
            justify-content: center; /* Center the menu icon horizontally */
            color: #ee2737;
        }
}
